body {
  margin: 0px;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
}
header {
  display: flex;
  justify-content: space-between;
}
header .logo img {
  width: 104px;
  height: 51.37px;
  margin: 17px 0px 43.63px 25px;
}
header .menu-toggle {
  margin-top: 48px;
  margin-right: 23px;
  width: 20px;
  height: 16px;
  color: #737373;
}

#menu {
  display: none;
  width: auto;
  height: 100%;
  position: absolute;
}
#menu ul {
  list-style: none;
  margin-top: 58px;
  margin-left: 22px;
}
#menu ul li {
  margin-bottom: 20px;
}
#menu a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: #252B42;
}
#menu #home {
  color: #FA4A0C;
}

@media screen and (min-width: 414px) {
  header .menu-toggle {
    display: none;
  }
  header .logo img {
    margin: 26.12px 0px 27.12px 90px;
    width: 206px;
    height: 101.76px;
  }
  header #menu {
    display: flex;
    align-items: center;
    margin-right: 50px;
    height: auto;
    position: relative;
  }
  header #menu ul {
    display: flex;
    list-style: none;
  }
  header #menu a {
    text-decoration: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: #252B42;
    margin-left: 114px;
  }
}
.subscribe {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Montserrat;
}
.subscribe .line {
  display: none;
}
.subscribe .app_function {
  font-weight: 600;
  font-size: 1.5rem;
  width: 100%;
  top: 116px;
  color: #000000;
}
.subscribe .line-app {
  display: block;
  width: 100%;
  margin-top: 49px;
  border: 3px solid #E4E4E4;
}
.subscribe .create_account .img_login1 {
  display: none;
}
.subscribe .create_account .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.subscribe .create_account .login .title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #FA4A0C;
  margin-top: 65px;
}
.subscribe .create_account .login .subtitle {
  font-weight: bold;
  font-size: 2.5rem;
  color: #252B42;
  margin: 40px 10px 0;
  line-height: 57px;
  width: 337px;
}
.subscribe .create_account .login .text {
  font-size: 1.5rem;
  line-height: 38px;
  color: #737373;
  margin: 50px 10px 0;
  width: 257px;
}
.subscribe .create_account .img_cel {
  display: flex;
  justify-content: center;
  margin-left: 108px;
  margin-top: -70px;
  margin-bottom: -130px;
}

@media screen and (min-width: 414px) {
  .subscribe .app_function {
    font-family: Poppins;
    font-size: 2.75rem;
    opacity: 0.8;
    margin-top: 72px;
  }
  .subscribe .line {
    display: block;
    align-items: center;
    width: 884px;
    margin-top: 129px;
    border: 3px solid #E4E4E4;
  }
  .subscribe .line-app {
    display: none;
  }
  .subscribe .create_account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 656px;
    width: 100%;
    background-color: white;
    margin: 59px 0 0 0;
  }
  .subscribe .create_account .img_login1 {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-top: 78px;
    left: 105px;
  }
  .subscribe .create_account .img_cel {
    display: none;
  }
  .subscribe .create_account .login {
    text-align: left;
    align-items: flex-start;
    margin-top: 133px;
    width: 568px;
    height: 280px;
    background-color: white;
    margin-right: 104px;
  }
  .subscribe .create_account .login .title {
    margin-top: 0px;
    font-size: 24px;
    margin: 0%;
  }
  .subscribe .create_account .login .subtitle {
    line-height: 57px;
    margin: 17px 0 0 0;
    width: 561px;
  }
  .subscribe .create_account .login .text {
    margin-top: 27px;
    margin-bottom: 10px;
    width: 467px;
  }
}
.create_checkout {
  text-align: center;
}
.create_checkout .img_login3 {
  display: none;
}
.create_checkout .checkout {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.create_checkout .checkout .pa {
  font-weight: bold;
  font-size: 1.5rem;
  color: #FA4A0C;
  margin-top: 65px;
}
.create_checkout .checkout .pb {
  font-weight: bold;
  font-size: 2.5rem;
  color: #252B42;
  margin: 40px 10px 0;
  line-height: 57px;
  width: 316px;
}
.create_checkout .checkout .pc {
  font-size: 1.5rem;
  line-height: 38px;
  color: #737373;
  margin: 50px 10px 0;
  width: 257px;
}
.create_checkout .img_cel3 {
  display: flex;
  justify-content: center;
  margin-left: 88px;
  margin-top: -70px;
  margin-bottom: -120px;
}

@media screen and (min-width: 414px) {
  .create_checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 656px;
    width: 100%;
    background-color: white;
  }
  .create_checkout .img_login3 {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-top: 78px;
    left: 105px;
  }
  .create_checkout .img_cel3 {
    display: none;
  }
  .create_checkout .checkout {
    text-align: left;
    align-items: flex-start;
    margin-top: 133px;
    width: 568px;
    height: 280px;
    background-color: white;
    margin-right: 104px;
  }
  .create_checkout .checkout .pa {
    margin-top: 0px;
    font-size: 24px;
    margin: 0%;
  }
  .create_checkout .checkout .pb {
    line-height: 57px;
    margin: 17px 0 0 0;
    width: 561px;
  }
  .create_checkout .checkout .pc {
    margin-top: 27px;
    margin-bottom: 10px;
    width: 467px;
  }
}
.dowloand_app {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 110px 24px;
  width: 100%;
  height: 564px;
  background: #252B42;
  font-family: Montserrat;
}
.dowloand_app .dowloand-cel {
  text-align: center;
  padding: 0px;
  width: 330px;
  margin: 10px 0px;
}
.dowloand_app .dowloand-cel .title2 {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 57px;
  color: white;
  margin: 0px 10px;
}
.dowloand_app .dowloand-cel .calendars {
  font-size: 1.5rem;
  line-height: 38px;
  color: #BDBDBD;
  margin: 20px 0 10px 0;
}
.dowloand_app .dowloand-cel .btn1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0px;
  margin: 13px 0px;
  margin-top: 50px;
  margin-bottom: 120px;
}
.dowloand_app .dowloand-cel .btn1 .btn_buynow {
  padding: 18px 31px;
  background: #FA4A0C;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  color: #FFFFFF;
  flex: none;
  margin: 0px 10px;
  border: none;
}
.dowloand_app .dowloand-cel .btn1 .btn_tryfor {
  padding: 16px 40px;
  top: 2px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  flex: none;
  font-weight: bold;
  font-size: 1rem;
  color: #FFFFFF;
  margin: 0px 10px;
  background: transparent;
}

.imagen {
  display: none;
}

@media screen and (min-width: 414px) {
  .dowloand_app {
    display: none;
  }

  .imagen {
    font-family: Montserrat;
    display: block;
  }
  .imagen .img_warehouse {
    display: flex;
    justify-content: center;
  }
  .imagen .dowloand_pc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -407px;
    color: #FFFFFF;
  }
  .imagen .dowloand-cel {
    display: none;
  }
  .imagen .title1 {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 57px;
  }
  .imagen .favorite_store {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 38px;
    margin: -20px 0 0 0;
  }
  .imagen .btn {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
  }
  .imagen .btn_playstore {
    padding: 18px 31px;
    position: static;
    width: 142px;
    height: 64px;
    background: #FA4A0C;
    border-radius: 10px;
    flex: none;
    margin: 0px 16px;
    border: none;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1rem;
    color: #FFFFFF;
    margin: 0px 10px;
  }
  .imagen .btn_appstore {
    padding: 16px 45px;
    width: 178px;
    height: 60px;
    left: 158px;
    top: 2px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    flex: none;
    order: 1;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1rem;
    color: #FFFFFF;
    margin: 0px 10px;
    background: transparent;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 172px;
  background: white;
}
.footer .logo {
  display: none;
}
.footer .social_media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  width: 170px;
  height: 41px;
}
.footer .social_media .linkedin, .footer .social_media .facebook {
  display: block;
  height: 32px;
  width: 32px;
}
.footer .social_media .twitter {
  width: 33.31px;
  height: 27.06px;
}
.footer .social_media .instagram {
  display: none;
}
.footer .copywright {
  display: none;
}
.footer .just-app {
  margin-top: 8px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #5C5C5C;
  margin-bottom: 45px;
}

@media screen and (min-width: 414px) {
  footer {
    display: flex;
    justify-content: center;
  }

  .footer {
    flex-direction: row;
    box-sizing: border-box;
    align-items: initial;
    margin-top: 168px;
    width: 1210px;
    height: 133px;
    left: 115px;
    margin-bottom: 53px;
  }
  .footer .logo {
    display: flex;
    margin-left: 71px;
    margin-top: 16px;
    margin-bottom: 15px;
  }
  .footer .social_media {
    margin-left: 253px;
    margin-top: 46px;
    padding: 0px;
  }
  .footer .social_media .linkedin {
    display: none;
  }
  .footer .social_media .instagram {
    display: block;
  }
  .footer .copywright {
    display: flex;
    margin-left: 280px;
    margin-top: 64px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #5C5C5C;
  }
  .footer .just-app {
    display: none;
  }
}
.varieties {
  display: flex;
  flex-direction: column;
}
.varieties h3 {
  margin-top: 44.18px;
  font-size: 1.5rem;
  line-height: 36px;
  color: #FA4A0C;
}

.p1 {
  margin-top: 40px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 57px;
  color: #252B42;
  width: 327px;
}

.p2 {
  margin: 0px;
  font-weight: 500px;
  font-size: 1.5rem;
  line-height: 38px;
  color: #737373;
  letter-spacing: 0.2px;
  width: 257px;
}

.varieties > .cont_varieties {
  font-family: "Montserrat";
  font-style: normal;
  text-align: center;
}

.cont_varieties {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_varieties {
  display: flex;
  justify-content: center;
  margin-left: 108px;
}

.title_desktop {
  display: none;
}

@media screen and (min-width: 414px) {
  .varieties {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .title-movil {
    display: none;
  }

  .title_desktop {
    display: block;
  }

  .cont_varieties {
    display: flex;
    margin-left: 254px;
    align-items: flex-start;
  }

  .p1 {
    margin: 0px;
    width: 480px;
  }

  .p2 {
    margin-top: 27px;
    width: 462px;
  }

  .varieties > .cont_varieties {
    text-align: start;
  }
}

/*# sourceMappingURL=main.css.map */
