body {
  margin: 0px;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
}
.line {
  align-items: center;
  width: 884px;
  height: 0px;
  margin-top: 129px;
  border: 3px solid #E4E4E4;
}

.app_function {
  font-family: Poppins;
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #000000;
  opacity: 0.8;
  margin-top: 72px;
  text-align: center;
}

.line-app {
  display: none;
}

.create_account {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 806.99px;
  width: 100%;
  background-color: white;
  margin: 59px 0 0 0;
}
.create_account .img_cel {
  display: flex;
  margin: -50px 0 0 40px;
}
.create_account .login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 568px;
  height: 280px;
  position: static;
  left: 718px;
  margin-top: 233px;
  background-color: white;
}
.create_account .login .title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #FA4A0C;
  margin: 0%;
}
.create_account .login .subtitle {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin: 27px 0 0 0;
}
.create_account .login .text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 10px;
}

@media screen and (max-width: 414px) {
  .line {
    display: none;
  }

  .app_function {
    font-size: 1.5rem;
    width: 242px;
    margin-left: 86px;
    top: 116px;
  }

  .line-app {
    display: block;
    width: 100%;
    margin-top: 49px;
    border: 3px solid #E4E4E4;
  }

  .create_account {
    float: none;
    width: 100%;
    text-align: center;
    height: auto;
    height: 1158px;
  }
  .create_account .login {
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    width: 357px;
    left: 27.5px;
    margin-top: 10px;
  }
  .create_account .login .title {
    color: #FA4A0C;
    margin: 0px 10px;
  }
  .create_account .login .subtitle {
    margin: 0px 10px;
    margin-top: 40px;
  }
  .create_account .login .text {
    margin: 0px 10px;
    width: 257px;
    margin-top: 50px;
  }
  .create_account .img_cel {
    width: 650px;
    position: absolute;
    left: -108px;
    margin-top: 450px;
    justify-content: center;
  }
}
.dowloand_app {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dowloand_app .img_warehouse {
  background-image: url("../img/warehouse.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
}
.dowloand_app .dowloand_pc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-top: -410px;
}
.dowloand_app .dowloand-cel {
  display: none;
}
.dowloand_app .title1 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
.dowloand_app .favorite_store {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1rem;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: -25px 0 0 0;
}
.dowloand_app .btn {
  display: flex;
  width: 331px;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  margin-top: 60px;
}
.dowloand_app .btn_playstore {
  padding: 18px 31px;
  position: static;
  width: 142px;
  height: 64px;
  background: #FA4A0C;
  border-radius: 10px;
  flex: none;
  margin: 0px 16px;
  border: none;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: 0px 10px;
}
.dowloand_app .btn_appstore {
  padding: 16px 45px;
  width: 178px;
  height: 60px;
  left: 158px;
  top: 2px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  flex: none;
  order: 1;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: 0px 10px;
  background: transparent;
}

@media screen and (max-width: 414px) {
  .dowloand_app {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 110px 24px;
    width: 100%;
    top: 74px;
    background: #252B42;
  }
  .dowloand_app .img_warehouse {
    display: none;
  }
  .dowloand_app .dowloand-cel {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    padding: 0px;
    width: 330px;
    height: 230px;
    left: 44px;
    top: 110px;
    margin: 50px 0px;
  }
  .dowloand_app .dowloand-cel .title2 {
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0px 10px;
  }
  .dowloand_app .dowloand-cel .calendars {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #BDBDBD;
    margin: 20px 0px 0px 10px;
  }
  .dowloand_app .dowloand-cel .btn1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: 13px 0px;
    margin-top: 60px;
  }
  .dowloand_app .dowloand-cel .btn1 .btn_buynow {
    padding: 18px 31px;
    background: #FA4A0C;
    border-radius: 10px;
    margin: 0px 16px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    margin: 0px 10px;
    border: none;
  }
  .dowloand_app .dowloand-cel .btn1 .btn_tryfor {
    padding: 16px 40px;
    top: 2px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    flex: none;
    order: 1;
    margin: 0px 16px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0px 10px;
    background: transparent;
  }
}

/*# sourceMappingURL=main.css.map */
