body {
  margin: 0px;
}

p {
  margin: 0;
}

body {
  font-family: "Montserrat";
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
}
.main_header {
  display: flex;
  justify-content: space-between;
  height: 112px;
}
.main_header .logo {
  margin: 17px 0 0 25px;
}
.main_header .logo img {
  max-width: 104px;
}
.main_header .main_menu {
  background-color: #bcbaba;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
}
.main_header .main_menu nav {
  padding: 58px 0 0 22px;
  margin-right: 56px;
  height: 100%;
  background-color: #fff;
}
.main_header .main_menu a {
  text-decoration: none;
  font-weight: 600;
  line-height: 28px;
  color: #252B42;
  display: block;
}
.main_header .main_menu a.active {
  color: #fa4a0c;
}
.main_header .main_menu a:not(:first-child) {
  margin-top: 20px;
}
.main_header .close {
  position: absolute;
  top: 10px;
  right: 81px;
}

.menu-toggle {
  display: flex;
  align-items: center;
  margin-right: 23px;
  color: #737373;
}

@media screen and (min-width: 414px) {
  .main_header {
    height: 155px;
  }
  .main_header .logo {
    margin: 26px 0 0 90px;
  }
  .main_header .logo img {
    max-width: 206px;
  }
  .main_header .menu-toggle {
    display: none;
  }
  .main_header .main_menu {
    position: static;
    width: auto;
    display: flex;
    min-width: 560px;
    justify-content: space-between;
  }
  .main_header .main_menu nav {
    height: auto;
    display: flex;
    justify-content: space-between;
    min-width: 560px;
    padding-right: 50px;
    margin-right: 0px;
  }
  .main_header .main_menu a {
    display: inline;
  }
  .main_header .main_menu a:not(:first-child) {
    margin-top: 0;
  }
  .main_header .main_menu .close {
    display: none;
  }
}
.varieties .cont_varieties {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.varieties .cont_varieties .p1_title {
  margin-top: 44px;
}
.varieties .cont_varieties .p2_subtitle {
  margin-top: 40px;
  width: 327px;
}
.varieties .cont_varieties .p3_contenido {
  margin-top: 50px;
  width: 257px;
}
.varieties .img_varieties {
  display: flex;
  justify-content: center;
  margin-left: 108px;
}
.varieties .title_desktop {
  display: none;
}

@media screen and (min-width: 414px) {
  .varieties {
    display: flex;
  }
  .varieties .title-movil {
    display: none;
  }
  .varieties .title_desktop {
    display: block;
  }
  .varieties .cont_varieties {
    margin-left: 254px;
    align-items: flex-start;
    text-align: start;
  }
  .varieties .cont_varieties .p1_title {
    margin-top: 238px;
  }
  .varieties .cont_varieties .p2_subtitle {
    margin-top: 17px;
    width: 480px;
  }
  .varieties .cont_varieties .p3_contenido {
    margin-top: 27px;
    width: 462px;
  }
}
.banner {
  display: flex;
  flex-direction: column;
}
.banner .parrafos_bannner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.banner .p1 {
  margin-top: 50px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #737373;
}
.banner .p2 {
  margin-top: 17px;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 42px;
  letter-spacing: 0.2px;
  color: #252B42;
  width: 391px;
  height: 128px;
}
.banner .p3 {
  margin-top: 27px;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #737373;
  max-width: 342px;
}
.banner .store {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}
.banner .store button {
  width: 236px;
}
.banner .store button:last-child {
  margin-top: 16px;
}
.banner .app_food img {
  max-width: 100%;
}
.banner .p4 {
  margin-top: 116px;
  margin-bottom: 49px;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 36px;
  text-align: center;
}
.banner .hr_line {
  border: 3px solid #E4E4E4;
  width: 414px;
}

@media screen and (min-width: 414px) {
  .banner {
    background-image: url(../img/imgfood.png);
    background-repeat: no-repeat;
    background-position-x: center;
  }
  .banner .parrafos_bannner p {
    color: #ffffff;
    width: 937px;
  }
  .banner .p1 {
    margin-top: 73px;
    font-size: 1.5rem;
    line-height: 36px;
    color: #F7F7F7;
  }
  .banner .p2 {
    font-family: "Poppins";
    font-size: 3.625rem;
    line-height: 80px;
  }
  .banner .p3 {
    max-width: 551px;
  }
  .banner .store {
    flex-direction: row;
    margin-top: 54px;
    justify-content: center;
  }
  .banner .store button:first-child {
    margin-right: 16px;
  }
  .banner .store button.btn__outline {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
  }
  .banner .app_food {
    display: flex;
    justify-content: center;
  }
  .banner .hr_line1 {
    border: 3px solid #E4E4E4;
    width: 884px;
    margin-top: 128.9px;
  }
  .banner .hr_line {
    display: none;
  }
  .banner .p4 {
    margin-top: 72px;
    font-size: 2.75rem;
  }
}
.btn {
  background: #FA4A0C;
  padding: 16px 31px;
  border-radius: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 36px;
  color: #ffffff;
  border: none;
}
.btn__outline {
  border: 2px solid #FA4A0C;
  background-color: #ffffff;
  color: #FA4A0C;
}

.login .parrafos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.login .parrafos .p1_title {
  margin-top: 65px;
}
.login .parrafos .p2_subtitle {
  margin-top: 40px;
}
.login .parrafos .p3_contenido {
  margin-top: 50px;
  width: 257px;
}
.login .app-login {
  display: flex;
  justify-content: center;
  margin-left: 108px;
}

@media screen and (min-width: 414px) {
  .login {
    display: flex;
  }
  .login .app-login {
    position: absolute;
  }
  .login .parrafos {
    margin-left: 718px;
    align-items: flex-start;
    text-align: start;
  }
  .login .parrafos .p1_title {
    margin-top: 233px;
  }
  .login .parrafos .p2_subtitle {
    margin-top: 17px;
    width: 561px;
  }
  .login .parrafos .p3_contenido {
    margin-top: 27px;
    width: 462px;
    margin-bottom: 153px;
  }
}
.p1_title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #FA4A0C;
}

.p2_subtitle {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.p3_contenido {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #737373;
}

/*# sourceMappingURL=main.css.map */
