     .create_checkout{  
        text-align: center;
        .img_login3{
            display: none;
        }
        .checkout{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            font-family: Montserrat;
            .pa{
                font-weight: bold;
                font-size: 1.5rem;
                letter-spacing: 0.1px;
                color: $secondary;
                margin-top: 65px;
            }
            .pb{
                font-weight: bold;
                font-size: 2.5rem;
                color: #252B42;
                margin: 40px 10px 0;
                line-height: 57px;
                width: 316px;         
                        
            }
            .pc{ 
                font-size: 1.5rem;
                line-height: 38px;
                color: #737373;
                margin: 50px 10px 0;
                width: 257px;
            }       
        }
        .img_cel3{
            display: flex;
            justify-content: center;
            margin-left: 88px;
            margin-top: -70px;
            margin-bottom: -120px;
        }
    }

@media screen and (min-width:414px){
    .create_checkout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 656px;
    width: 100%;
    background-color: white;
    //margin: 59px 0 0 0;
    .img_login3{
        display: flex;  
        align-items: flex-start;  
        position: relative;
        margin-top: 78px;
        left: 105px;
    }
    .img_cel3{
        display: none;
    }
    .checkout{
        text-align:left ;
        align-items: flex-start;
        margin-top: 133px;
        width: 568px;
        height: 280px;
        background-color: white;
        margin-right: 104px;
        .pa{
            margin-top: 0px;
            font-size: 24px;
            margin: 0%;
        }
        .pb{
            line-height: 57px; 
            margin: 17px 0 0 0; 
            width: 561px;
        }
        .pc{
            margin-top: 27px;
            margin-bottom: 10px;
            width: 467px; 
        }
        }
    } 
    }
