.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
     width: 100%;
     height: 172px;
     background: white;
     .logo{
       display: none;
   } 
   .social_media{
       display: flex;
       flex-direction: row;
       align-items: center;     
        justify-content: space-between;
        margin-top: 60px;
        width: 170px;
        height: 41px;
      .linkedin,.facebook{
          display: block;
          height: 32px;
          width: 32px;
      }
      .twitter{
          width:33.31px ;
          height:27.06px;
      }
      .instagram{
         display: none;
      }
   }
   .copywright{
       display: none;
   }
   .just-app{
      margin-top: 8px;
      font-family: Roboto;
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      color: #5C5C5C;
      margin-bottom: 45px;
   }
}  
@media screen and (min-width:414px){
    footer{
        justify-content: center;
    }
    .footer{
        flex-direction: row;
        box-sizing: border-box;
        align-items: initial;
        justify-content: center;
        margin-top: 168px;
        width: 100%;
        height: 133px;
        left: 115px;
        margin-bottom: 53px;
        .logo{
            display: flex;
            margin-left: 71px;
            margin-top: 16px;
            margin-bottom: 15px;
        }
        .social_media{
            justify-content: center;
            justify-content: space-between;
            margin-left: 253px;
            margin-top: 46px;
            padding: 0px;
            .linkedin{
                display: none;
            }
            .instagram{
                display: block;
             }
        }
        .copywright{
            display: flex;
            margin-left: 280px;
            margin-top: 64px;
            font-family: Roboto;
            font-weight: bold;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.1px;
            color: #5C5C5C;
        }
        .just-app{
            display: none;
        }
    }
}