header{
    display: flex;
    justify-content: space-between;
    .logo img{
        width: 104px;
        height: 51.37px;
        margin: 17px 0px 43.63px 25px;
    }
    .menu-toggle{
        margin-top: 48px;
        margin-right: 23px;
        width: 20px;
        height: 16px;
        color: #737373;
    }
}
 #menu{
     background-color: #ffffff;
     display: none;
     width: 90%; 
     height: 100%;
     position: absolute;
      ul{
        list-style: none;
        margin-top: 58px;
        margin-left: 22px;
        li{
            margin-bottom: 20px;
        }
      }  
      a{
        text-decoration: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        color: #252B42;
      }
      #home{
        color: $secondary;
    }
 }
@media screen and (min-width:414px){
    header{
        .menu-toggle{
            display: none;
        }
        .logo img{
                margin: 26.12px 0px 27.12px 90px;
                width: 206px;
                height: 101.76px;
            }
        #menu{
            width: auto;
            display: flex;
            align-items: center;
            margin-right: 50px;
            height: auto;
            position: relative;
            ul{
                display: flex;
                list-style: none;
            }
            a{
                margin-left: 114px;
            }
        } 
    }  
} 

