.line{
    align-items: center;
    width: 884px;
    height: 0px;
    margin-top: 129px;
    border: 3px solid #E4E4E4;
}
.app_function{
    font-family: Poppins;
    font-weight: 600;
    font-size: 2.75rem;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #000000;
    opacity: 0.8;
    margin-top: 72px;
    text-align: center;
}
.create_account{
    display: flex;
    justify-content: center;
    height: 806.99px;
    width: 100%;
    background-color: white;
    margin: 59px 0 0 0;
}
.img_app{
   display: flex;  
    margin: -50px 0 0 40px;  
}
.login{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;   
    width: 568px;
    height: 280px;
    position: static;
    left: 718px;
    margin-top: 233px; 
    background-color: white;
    .title{
        font-family: Montserrat;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: #FA4A0C;
        margin: 0%;
    }
    .subtitle{
        font-family: Montserrat;
        font-weight: bold;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px; 
        color: #252B42;
        margin: 27px 0 0 0;   
    }
    .text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        letter-spacing: 0.2px;
        color: #737373;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:414px){
    body{
        float: none;
        text-align: center;
    }
    .app_function{
        font-family: Poppins;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: #000000;
        opacity: 0.8;
        position: absolute;
        width: 242px;
        height: 36px;
        left: 86px;
        top: 1267px;
    }
    .line{
        position: absolute;
        width: 414px;
        height: 0px;
        left: -1px;
        top: 1307px;
        border: 3px solid #E4E4E4;   
       }    
   .create_account{
        float:none;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        justify-content: center;
    .login{
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        position: absolute;
        width: 357px;
        left: 27.5px;
        top: 1374px;
        text-align: center;
        justify-content: center;
        .title{
            font-family: Montserrat;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            letter-spacing: 0.1px;
            color: #FA4A0C;
            margin: 0px 10px;
        }
        .subtitle{
            font-family: Montserrat;
            font-weight: bold;
            font-size: 2.5rem;
            line-height: 57px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #252B42;
            margin: 0px 10px;
            margin-top: 40px;
        }
        .text{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 38px;
            text-align: center;
            letter-spacing: 0.2px;   
            color: #737373;
            margin: 0px 10px;
            width: 257px;
            margin-top: 50px;
        }       
    }
    .img_app{
        width: 650px;
        position: absolute;
        left: -118px;
        top: 1957px;
        justify-content: center;
        text-align: center;     
    }
   }
}
