.subscribe{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Montserrat;
    .line{
        display: none;
    }
    .app_function{
        font-weight: 600;
        font-size: 1.5rem;
        width: 100%;
        top: 116px;
        color: #000000;        
    }
    .line-app{
        display: block;
        width: 100%; 
        margin-top: 49px;
        border: 3px solid #E4E4E4;   
       }    
    .create_account{  
        .img_login1{
            display: none;
        }
        .login{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .title{
                font-weight: bold;
                font-size: 1.5rem;
                letter-spacing: 0.1px;
                color: $secondary;
                margin-top: 65px;
            }
            .subtitle{
                font-weight: bold;
                font-size: 2.5rem;
                color: #252B42;
                margin: 40px 10px 0;
                line-height: 57px;
                width: 337px;         
                        
            }
            .text{ 
                font-size: 1.5rem;
                line-height: 38px;
                color: #737373;
                margin: 50px 10px 0;
                width: 257px;
            }       
        }
        .img_cel{
            display: flex;
            justify-content: center;
            margin-left: 108px;
            margin-top: -70px;
            margin-bottom: -130px;
        }
    }
}
@media screen and (min-width:414px){
    .subscribe{
        .app_function{
            font-family: Poppins;
            font-size: 2.75rem;  
            opacity: 0.8;
            margin-top: 72px;
        }
        .line{
            display: block;
            align-items: center;
            width: 884px;
            margin-top: 129px;
            border: 3px solid #E4E4E4;
        }
        .line-app{
            display: none;
        }
        .create_account{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            height: 656px;
            width: 100%;
            background-color: white;
            margin: 59px 0 0 0;
            .img_login1{
                display: flex;  
                align-items: flex-start;  
                position: relative;
                margin-top: 78px;
                left: 105px;
            }
            .img_cel{
                display: none;
            }
            .login{
                text-align:left ;
                align-items: flex-start;
                margin-top: 133px;
                width: 568px;
                height: 280px;
                background-color: white;
                margin-right: 104px;
                .title{
                    margin-top: 0px;
                    font-size: 24px;
                    margin: 0%;
                }
                .subtitle{
                    line-height: 57px; 
                    margin: 17px 0 0 0; 
                    width: 561px;
                }
                .text{
                    margin-top: 27px;
                    margin-bottom: 10px;
                    width: 467px; 
                }
                }
            } 
    }
}