.varieties{
    .cont_varieties{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .p1_title{
            margin-top: 44px;
        }
        .p2_subtitle{
            margin-top: 40px;
            width: 327px;  
        } 
        .p3_contenido{
           margin-top: 50px;
           width: 257px;
        }
    }
    .img_varieties{
        display: flex;
        justify-content: center;
        margin-left: 108px;
    } 
    .title_desktop{
        display: none;
    }
}

@media screen and (min-width:414px){
    .varieties{
        display: flex;
        .title-movil{
            display: none;
        }
        .title_desktop{
            display: block;
        }
        .cont_varieties{
            margin-left: 254px;
            align-items: flex-start;
            text-align: start;
            .p1_title{
                margin-top: 238px;
            }
            .p2_subtitle{
                margin-top: 17px;
                width: 480px;
            }
            .p3_contenido{ 
                margin-top: 27px;
                width: 462px;
            }
        } 
    } 
}