.p1_title{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 36px;
    letter-spacing: 0.1px;
    color:  $secondary;
}
.p2_subtitle{
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: $primary;
}
.p3_contenido{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: $primary-light;
}